body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img#logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  float: left;
  position: relative;
  z-index: 1000;
}

#About {
  padding-top: 45px;
  padding-bottom: 45px;
}

.Coming {
  color: black;
  font-size: 35px;
  z-index: 1000;
  font-weight: bold; 
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

#border {
  border-style: solid;
  border-color: white;
  padding: 20px;
}

#title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#bold {
  font-weight: bold;
}

#AbtLogo {
  height: 400px;
  width: 400px;
}

@media screen and (max-width:667px){
  #AbtLogo {
    height: 200px;
    width: 200px;
    padding-right: 50px;
  }

  #About {
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
  }

  img#logo {
    visibility: hidden;
  }

  .Coming {
    font-size: 20px;
    padding-top: 20px;
  }
}