body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img#logo {
  width: 40px;
  height: 30px;
  float: left;
  position: relative;
  z-index: 1000;
}

#About {
  padding-top: 30px;
}

.Coming {
  color: red;
  font-size: 50px;
  z-index: 1000;
}